.change-password-message {
    padding-top: 75px;
    text-align: center;
}

form {
    text-align: center;
}

.new-password1 {
    margin-right: 5px;
}

.new-password2 {
    margin-right: 55px;
}

.old-password-error, .new-password-error {
    font-size: 20px;
    color: red;
    text-align: center;
}

form button {
    margin-left: 5%;
}