.reset-password-message {
    padding-top: 75px;
    text-align: center;
    margin-left: 55px;
}

form {
    text-align: center;
}

.form-errors {
    list-style: none;
    font-size: 20px;
    color: red;
    text-align: center;
    margin-left: 45px;
}

.new-password {
    margin-right: 32px;
}

.repeat-password {
    margin-right: 47px;
}

form button {
    margin-left: 70px;
}