.login-message, .signup-message {
    padding-top: 75px;
    text-align: center;
}

.greeting, .welcome-message, .profile-settings-message {
    padding-top: 75px;
    margin-left: 20px;
}

form p {
    text-align: center;
}

.error-message, .username-error, .password-error {
    font-size: 20px;
    color: red;
}

.repeat-password {
    margin-right: 75px;
}

p.success-message {
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

.navigation-message {
    margin-left: 30px;
}

.navigation-contents {
    font-size: 20px;
}

.navigation-contents li a {
    text-decoration: none;
    color: black;
}

.navigation-contents li a:hover {
    text-decoration: none;
    color: #4287f5;
}

.username-message {
    font-size: 20px;
    margin-left: 20px;
}

.change-account-data {
    list-style: none;
}

.change-account-data li {
    margin-left: -15px;
}

.change-account-data a {
    color: black;
    font-size: 18px;
}

.change-account-data a:hover {
    color: #4287f5;
}