.all-post-data {
    width: 50%;
    margin-left: 25%;
    border: solid 1px #f0f0f0;
    margin-bottom: 1%;
}

.post-title {
    padding-top: 75px;
    text-align: center;
    font-size: 36px;
}

.single-post-publish-date {
    text-align: center;
    font-size: 18px;
}

.post-text {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 30px;
}

.delete-post button {
    margin-bottom: 1%;
}

.delete-post {
    margin-left: 47%;
}
