.your-posts-message, .no-posts-message {
    padding-top: 75px;
    margin-left: 20px;
}

.all-posts {
    font-size: 20px;
    list-style: none;
    margin-left: -15px;
}

.all-posts a {
    font-size: 20px;
    color: black;
}

.all-posts a:hover {
    color: #4287f5;
}

.post-title {
    padding-top: 75px;
    text-align: center;
    font-size: 36px;
}

.publish-date {
    text-align: center;
    font-size: 18px
}

.post-text {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 30px;
}

.all-post-data {
    width: 50%;
    margin-left: 25%;
    border: solid 1px #f0f0f0;
    margin-bottom: 2%;
}
