{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'profile_settings/css/delete_profile_style.css' %}">
{% endblock %}
{% block title %}Delete profile{% endblock %}
{% block content %}
<h1 class="delete-profile-message">Delete profile</h1>
<ul class='form-errors'>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
<form method="post">
    <p class="password">Password: {{ form.password }}</p>
    <p class="password-confirm">Password confirm: {{form.password_confirm }}</p>
    {% csrf_token %}
    <p>
        <button type="submit" class="btn btn-success">Delete</button>
    </p>
</form>
{% endblock %}