{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'profile_settings/css/password_reset_style.css' %}">
{% endblock %}
{% block title %}Password reset{% endblock %}
{% block content %}
<h2 class="reset-password-message">Reset password</h2>
<hr>
<ul class='form-errors'>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
<form method="post">
    <p class="username">Username: {{ form.username }}</p>
    <p class="new-password">New password: {{ form.new_password }}</p>
    <p class="repeat-password">Repeat password: {{ form.repeat_password }}</p>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Reset</button>
</form>
{% endblock %}