{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/signup_style.css' %}">
{% endblock %}
{% block title %}Sign-up{% endblock %}
{% block content %}
<h1 class="signup-message">Sign Up</h1>
<hr>
<ul class='form-errors'>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
<form method="post" class="signup-form">
    <p>Username: {{ form.username }}</p>
    <p>Password: &nbsp{{ form.password }}</p>
    <p class="repeat-password">Repeat the password: {{ form.password_confirm }}</p>
    {% csrf_token %}
    <p>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </p>
    <p>Already have an account? You can <a href="{% url 'login' %}">log in</a> now!</p>
</form>
{% endblock %}