{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/style.css' %}">
{% endblock %}}
{% block title %}Change username{% endblock %}
{% block content %}
<h1 class="change-username-message">Change username</h1><hr>
{% if form.non_field_errors %}
<p class="username-taken-error">This username is already taken!</p>
{% endif %}
<form method="post" class="change-username-form">
    <p class="new-username-message">New username: {{ form.new_username }}</p>
    <p>Password: {{ form.password }}</p>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm</button>
</form>
{% endblock %}