{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/style.css' %}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="login-message" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Log In</h1>
<hr>
{% if form.non_field_errors %}
<p class="error-message">YWrong username or password! Please, try again:</p>
{% endif %}
<form method="post" class="login-form">
    <p>Username: {{ form.username }}</p>
    <p>Password: &nbsp{{ form.password }}</p>
    {% csrf_token %}
    <p class="login-button">
        <button type="submit" class="btn btn-success" style="width: 85px;">Log In</button>
    <p>Don't have an account? You can <a href="{% url 'signup' %}">register</a> it now!</p>
</form>
{% endblock %}