{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/password_change_style.css' %}">
{% endblock %}
{% block title %}Password change{% endblock %}
{% block content %}
<h1 class="change-password-message">Change password</h1>
<hr>
<ul class='form-errors'>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
<form method="post">
    <p class="old-password">Old password: {{ form.old_password }}</p>
    <p class="new-password">New password: {{ form.new_password }}</p>
    <p class="new-password-confirm">Repeat new password: {{ form.new_password_confirm }}</p>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm</button>
</form>
{% endblock %}