{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/password_change_style.css' %}">
{% endblock %}
{% block title %}Password change{% endblock %}
{% block content %}
<h1 class="change-password-message">Change password</h1>
<hr>
{% for error in form.errors %}
{% if error == "old_password" %}
<p class="old-password-error">Old password is incorrect!</p>
{% endif %}
{% if error == "new_password2" %}
<p class="new-password-error">This password either is too weak or passwords aren't the same!</p>
{% endif %}
{% endfor %}
<form method="post">
    <p class="old-password">Old password: {{ form.old_password }}</p>
    <p class="new-password1">New password: {{ form.new_password1 }}</p>
    <p class="new-password2">Repeat new password: {{ form.new_password2 }}</p>
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm</button>
</form>
{% endblock %}