{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'user_profile/css/profile_settings_style.css' %}">
{% endblock %}
{% block title %}{{ user }}'s profile settings{% endblock %}
{% block content %}
<h2 class="profile-settings-message">Here is your profile settings:</h2>
<p class="username-message">Your username: {{ user.username }}.</p>
<ul class="change-account-data">
    <li><a href="{% url 'change_username' user%}">Change username</a>.</li>
    <li><a href="#">Change password</a>.</li>
    <li><a href="#">Reset password</a>.</li>
</ul>
{% endblock %}