.change-username-message {
    padding-top: 75px;
    margin-left: 20px;
    text-align: center;
}

.form-errors {
    margin-left: 44.5%;
    color: red;
    font-size: 20px;
    list-style: none;
}

.change-username-form p {
    text-align: center;
}

.change-username-form button {
    margin-left: 49.4%;
}

.new-username-message {
    margin-right: 40px;
}
