.change-password-message {
    padding-top: 75px;
    text-align: center;
}

form {
    text-align: center;
}

.form-errors {
    font-size: 20px;
    color: red;
    text-align: center;
    list-style: none;
}

.new-password {
    margin-right: 7px;
}

.new-password-confirm {
    margin-right: 57px;
}

form button {
    margin-left: 75px;
}