{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'post/css/style.css' %}">
{% endblock %}
{% block title %}{{ user }}'s posts{% endblock %}
{% block content %}
{% if posts %}
<h2 class="your-posts-message">Your posts:</h2>
<ul class="all-posts">
    {% for post in posts %}
    <li><a href="{% url 'single_post' post.id %}">{{ post }}</a>; publish date - {{ post.publish_date }}</li>
    {% endfor %}
</ul>
{% else %}
<h2 class="no-posts-message">There aren't any posts yet!</h2>
{% endif %}
{% endblock %}