{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'post/css/style.css' %}">
{% endblock %}
{% block title %}{{ post.post_title }}{% endblock %}
{% block content %}
<div class="left-side"></div>
<div class="right-side"></div>
<div class="all-post-data">
    <h2 class="post-title">{{ post.post_title }}</h2>
    <p class="publish-date">{{ post.publish_date }}</p>
    <div class="post-text">{{ post.post_text }}</div>
</div>
{% endblock %}
